@font-face {
  font-family: 'Raleway Sans Serif';
  src: 
    url('fonts/Raleway-Sans/Raleway-VariableFont_wght.woff2') format('woff2'),
    url('fonts/Raleway-Sans/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
}

:root {
    --color-texto: hsl(0 0% 10%);
    --color-fondo: hsl(0 0% 90%);
    --color-primario: hsl(260 97% 43%);
    --color-primario-claro: hsl(260 80% 88%);
    --color-primario-oscuro: hsl(260 56% 35%);
    --color-secundario: hsl(25 100% 65%);
    --color-secundario-oscuro: hsl(25 80% 50%);
    --color-secundario-claro: hsl(25 80% 70%);
    --color-resalte: hsl(120 52% 60%);
    --color-resalte-oscuro: hsl(120 36% 48%);
}

body {
    font-family: 'Raleway Sans Serif', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

header {
    background-color: var(--color-secundario-claro);
    padding: 5px;
    text-align: left;
}

h1 {
    font-family: Noto Serif, serif;
    font-size: 40px;
    color: var(--color-primario);
    margin-left: 10px;
}

nav {
    margin-top: -16px;
}

nav ul {
    list-style-type: none;
    padding: 3%;
    background-color: var(--color-primario-claro);
}

nav ul li a {
    text-decoration: none;
    color: var(--color-primario-oscuro);
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--color-secundario-oscuro);
}

nav ul li {
    display: inline;
    padding-right: 20px;
}


section {
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

section h2 {
    font-family: Noto Serif, serif;
    font-size: 20px;
    color: var(--color-primario);
    margin-bottom: -5px;
}

section p {
    font-size: 17px;
    color: var(--color-texto);
}

footer {
    background-color: var(--color-primario-claro);
    padding: 5px;
    text-align: left;
}

footer p {
    color: var(--color-primario-oscuro);
    font-weight: bold;
    margin-left: 5px;
}
